.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px; /* Adjust the width of the sidebar as needed */
  height: 100%; /* Make the sidebar cover the full height of the screen */
  background-color: #05453dfa; /* Set the background color of the sidebar */
  /* Add any additional styling you desire */
}
.borderless-button {
  border: none; /* Remove the default button border */
  background-color: transparent; /* Set the background color to transparent */
  padding: 0; /* Remove any padding to minimize space around the button content */
  text-align: center;
}
button {
  background-color: transparent;
}
.icon {
  color: white;
  height: 60px;
}
.sidebar.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 450px; /* Adjust the width of the sidebar as needed */
  height: 100%; /* Make the sidebar cover the full height of the screen */
  background-color: #05453dfa;
  overflow: auto;
}
.checkoutInformation {
  text-align: center;
  color: white;
}
.rowSidebar {
  display: flex;
  position: center;
  color: white;
}
.checkoutButton {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}
