.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #05453dfa;
}
.borderless-button {
  border: none;
  background-color: transparent;
  padding: 0;
  text-align: center;
}
button {
  background-color: transparent;
}
.icon {
  color: white;
  height: 60px;
}
.sidebar.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 450px;
  height: 100%;
  background-color: #05453dfa;
  overflow: auto;
}
.checkoutInformation {
  text-align: center;
  color: white;
}
.rowSidebar {
  display: flex;
  position: center;
  color: white;
}
.checkoutButton {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}
