ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li button {
    display: block;
    padding: 8px;
    background-color: #65b0a6b1;
  }
  .row{
    display:flex;
  }
  .hamburger{
    flex:15%;
  }
  .categoryBar{
    flex:85%;
    text-align: center;
    
    
  }
  .buttonR {
        width: 180px; /* Increase the width of the button */
        height: 50px; /* Increase the height of the button */
        will-change: transform;
        transition: transform 0.2s ease;
        transition: background-color 0.3s ease;
        background-color:  #65b0a6b1;
      }
  .buttonR:active {
        transform: translateY(1px);
        
      }
  
  .buttonR.active{
    background-color: white;
    
  }
      
